name: Release

on:
  push:
    branches: [ "main" ]
    tags:
      - v*
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build Firmware
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Intial Setup
        run: |
          wget https://dr-download.ti.com/software-development/ide-configuration-compiler-or-debugger/MD-ayxs93eZNN/4.0.4.LTS/ti_cgt_armllvm_4.0.4.LTS_linux-x64_installer.bin
          chmod +x ./ti_cgt_armllvm_4.0.4.LTS_linux-x64_installer.bin
          ./ti_cgt_armllvm_4.0.4.LTS_linux-x64_installer.bin

      - name: Build firmware
        run: make

      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          generate_release_notes: true
          files: |
            pcu_pocketbeagle2.*
